.App{
    text-align: center;
  }
  
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-height: 10hv; */
    min-height: 60px;
    background: rgb(20, 68, 93);
    color: white;
  }
  
  .nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .logo{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
  }

  .link{
    margin-left: 10px;
    color: rgb(28, 169, 169);
    text-decoration: none;
  }

  .link:hover{
    color: rgb(10, 95, 95);
  }