  footer{
    width: 100%;
    margin-top: 4%;
    padding: 1% 8%;
    background: rgb(20, 68, 93);
    color: white;
  }
  
  .footerIcon{
    width: 40px;
  }

  .footerImageCol1-2{
    margin-top: 30px;
  }

  .footerTextCol1-2{
    padding-top: 30px;
  }

  .vertical-line{
    width: 2%;
    color: wheat;
    height: 100%;
  }

  .home-title{
    padding-top: 5%;
    font-size: 80px;
  }

  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-height: 10hv; */
    min-height: 60px;
    background: rgb(20, 68, 93);
    color: white;
  }

  .navlink{
    background-color: white;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .logo{
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
  }

  .home-logo{
    margin-top: 7%;
    width: 80%;
  }

  .link{
    margin-left: 10px;
    color: rgb(28, 169, 169);
    text-decoration: none;
  }

  .link:hover{
    color: rgb(10, 95, 95);
  }

  .loginBtn{
    background-color: white;
    color: black;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    border: transparent;
  }

  .loginBtn:hover{
    background-color: aqua;
    color: blue;
  }

  .main-container{
    margin-bottom: 40px;
  }

  .menu-card{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .menu-card:hover, .taxiCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
  }  

  .hearder-menu{
    padding-top: 4%;
    text-align: center;
  }

  .menuImg{
    width: 40%;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menuItem{
    color: black;
    text-decoration: none;
  }

  /************************** About css ********************************/

  .aboutPara{
    text-align: justify;
    text-justify: inter-word;
    margin-top: 20px;
  }

  .aboutPara2{
    margin-top: 25%;
    margin-left: 10%;
  }

  .aboutImg{
    width: 90%;
    margin-top: 20px;
  }

  .aboutImg1{
    margin-left: 10%;
  }

  /************************** Login css ********************************/
  .login-card{
    width: 60%;
    margin-top: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .input-section{
    padding-top: 20px;
  }

  .col-label{
    margin-left: 40px;
  }

  .input-field{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 4px;
    border: 1px solid black;
  }

  .login-input-field{
    margin-right: 40px;
  }

  .formLoginBtn{
    background-color: #12528a;
    margin-right: 40px;
    color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 8px;
    border: transparent;
  }

 /************************** Add a Taxi css ********************************/
 .taxiMenu{
  padding-top: 5%;
 }

 .taxi-input-field{
  width: 100%;
 }

 .pro-pic-upload{
  display: none;
 }

 .taxi-pro-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
 }

 .second-col{
  margin-left: 50px;
 }

 .Button{
  width: 100%;
    background-color: #12528a;
    color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 8px;
    border: transparent;
 }

 .taxi-add-btn{
    margin-top: 50px;
 }


 /************************** See all Taxis css ********************************/

 .taxiCard{
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
 }

 .grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
 }

 .taxiCardImg{
  width: 200px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .updateBtn{
  width: 60%;
  background-color: rgb(32, 173, 22);
  text-align: center;
  text-decoration: none;
  padding-top: 6px;
 }

 .deleteBtn{
  width: 60%;
  background-color: red;
 }

.updateBtn:hover, .deleteBtn:hover{
  background-color: goldenrod;
  color: white;
}


/******************Add menu*************************/
.menuform{
  background-image:url(./images/Menu_Images/catering-buffet-food.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(250, 250, 250);
}

.menuforminside{
  background-color: rgba(0, 0, 0, 0.612);
}
.savebutton{
  width: 60%;
  background-color: #132e7a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  left: 20%;

}


/************************** See all Rooms css ********************************/

.roomCard{
  width: 90%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
}

.grid-container-rooms{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.roomCardImg{
width: 200px;
margin-top: 10px;
margin-bottom: 10px;
}

.rmupdateBtn{
  width: 60%;
  background-color: rgb(32, 173, 22);
  text-align: center;
  text-decoration: none;
  padding-top: 6px;
 }

 .rmdeleteBtn{
  width: 60%;
  background-color: red;
 }

.rmupdateBtn:hover{
  color: white;
}

.AddNwRmBtn{
  margin-right: 18px;
  margin-bottom: 30px;
}

/************************ Taxi Book 1 css **************************/

.taxiBookBtn{
  width: 30%;
  background-color: rgb(34, 34, 129);
  text-align: center;
  text-decoration: none;
  padding-top: 6px;
  margin-top: 15px;
}

.taxiBookBtn:hover{
  color: white;
  background-color: rgb(59, 59, 189);

}

